/* THis is a comment! */

/* CSS Syntax;

selector {
  property: value;
  property: value;
}

*/

/* type selector*/

p { /* select all <p> */
  font-size: 5em; /* 16 px, ?pt, 100%, 1em*/
  line-height: 1.5em;
}
